/* Base styles with minimum height for html and body */
html,
body {
  height: 100%; /* Ensure at least the full height of the viewport */
  margin: 0; /* Reset any default margin */
}
body,
h1,
p,
nav a {
  font-family: "Roboto", sans-serif;
}

/* Navigation styles with padding-bottom update */
main {
  padding-bottom: 60px; /* Add padding to bottom of main content to prevent overlap */
  text-align: center; /* Center the content of the main element */
}
nav {
  background: #333333;
  padding: 10px 0;
  display: flex; /* Set the nav as a flex container */
  justify-content: center; /* Center-align the navigation items */
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover,
.active {
  background: #1a73e8; /* Solid color for flat design */
  /* Removed border-radius for a flat design */
}

/* Updated Footer styles for sticking to the bottom */
footer {
  position: absolute; /* Position footer at the bottom of the page */
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Ensure it spans the width of the page */
  background: #f8f9fa;
  padding: 20px 0;
  text-align: center;
}

footer p {
  color: #6c757d; /* Simplified color for flat design */
  margin: 0;
}
